/build_deps/cuda_8.0.61_375.26_linux-run
/build_deps/cudnn-8.0-linux-x64-v5.1.tgz
/build_deps/jdk-8u121-linux-x64.tar.gz
/build_deps/bazel-0.4.4-installer-linux-x86_64.sh
/tensorflow-gpu-1.0.0-cp35-cp35m-linux_x86_64.whl
/tensorflow-cpu-1.0.0-cp35-cp35m-linux_x86_64.whl
